DATABASE_URL="postgresql://[user[:password]@][netloc][:port][/dbname][?param1=value1&...]"
AUTH_CRYPT_SALT="the salt rounds used to crypt and decrypt passwords"
AUTH_JWT_SECRET="the jwt secret used to sign authentication tokens"
FEDERATION_SECRET="Secret used to communicate between the gateway and the micro-services"